@{
    ViewData["Title"] = "Add";

}
@model Product
<
<h1>Ürün ekleme</h1>

<form asp-controller="Products" asp-action="Add" method="post">
    <label>Ürün İsmi</label>
    <input class="a" type="text" asp-for="Name" />
    <br />
    <label>Ürün Fiyatı</label>
    <input class="a" type="text" asp-for="Price"/>
    <br />
    <label>Ürün Stok</label>
    <input class="a" type="text" asp-for="Stock" />
    <br />
    <label>Ürün Renk</label>
    <input class="a" type="text" asp-for="Color" />
    <br />


    <button type="submit">Ürün Kaydet</button>


</form>